# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.tfstate.lock.info

# Plans & vars
plan.tfplan
*.tfvars
*.tfvars.json

# macOS
.DS_Store